@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #169bc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1b7ec0, #251f7c);
  background: linear-gradient(to right, #184279, #483796);

}


.container {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow:0 0 100px rgba(0, 0, 0, 0.9); ;
}

.container li {
  margin: 0 25px
}

.container li a{
  transition: 0.5s;
  
}

.container.hover li a{
  color: #000;
}

.container:hover li a:not(:hover) {
  color: #000;
  opacity: 0.3;
}
